#promptOut {
  /* display: none; */
  filter: blur(2px);
}

.addPrompt {
  text-align: center;
}

.newPrompts {
  float: right;
  margin: 20px;
  border: green, 5px;
  border-radius: 10%;
}

#two {
  margin: auto;
  width: auto;
}

.gameOver {
  display:none;
}

#subButton {
background-color: blanchedalmond;
}

#correct {
  display: none;
  font-weight: 600; 
  background-color: forestgreen;
  color: ivory;
  border-radius: 15%;
  text-align: center;
}

#incorrect {
  display: none;
  background-color: crimson;
  color: yellowgreen;
  border-radius: 35%;
  text-align: center;
}