#header {
  background-color: rgb(90, 179, 179);
  text-align: center;
  padding: 20pt;
  border-radius: 20pt;
  font-family: monospace;
  font-size: 50pt;
  font-weight: bold;
  margin-bottom: 40pt;
  margin-top: 27pt;
}

#subButton {
  display: none;
  background-color: blanchedalmond;
}

#progress {
  font-size: 4rem;
  margin-left: -5%;
  border-radius: 100%;
  padding: 5%;
  text-align:center;
  /* font-family: Notable; */
}

#seconds {
  /* float: right; */
  font-size: 4rem;
  text-align: center;
  /* font-family: Notable; */
}

#gamestart {
  display: none;
}

#correct {
  display: none;
  font-weight: 600; 
  background-color: forestgreen;
  color: ivory;
  border-radius: 15%;
  text-align: center;
}

#incorrect {
  display: none;
  background-color: crimson;
  color: yellowgreen;
  border-radius: 35%;
  text-align: center;
}

#inputField {
  opacity: 0%;
}

#promptTable.container {
  display: none;
}

.table {
  display: none;
}

.single-char {
  font-size: 2rem;
}

.incorrect {
  color: crimson;
  text-decoration: underline;
  font-size: 4rem;
}

.correct {
  color: forestgreen;
  font-size: 4rem;
}

#promptBox {
  margin: auto;
  width: fit-content;
  text-align: center;
  border-style: solid;
}

#promptOut {
  font-size: 4rem;
  text-align: left;
  border-style: dotted;
}

#visual {
  font-size: 4rem;
  text-align: left;
  border-style: dashed;
}

#lowerDisplay {
  margin-left: 8.5%;
  margin-right: auto;
}

.card-body {
  background-color: rgb(90, 179, 179);
  height: 200px;[]
  padding-top: 20pt;
  padding-bottom: 20pt;
  border-radius: 20pt;
  font-family: monospace;
  font-size: 50pt;
  font-weight: bold;
  margin-bottom: 40pt;
}

.card-title {
  font-weight: bold;
  font-family: monospace;
}

.card-title, .card-text {
  text-align: center;
  
}

.modal {
  position: fixed;
  z-index: 1;
  height: auto;
  background-color: rgba(191, 191, 191, 0.666);
}

.modal-title {
  text-align: center;
  margin: auto;
}

.modal-content {
  margin: 15%;
  margin-top: 60px;
  padding: 20px;
  width: auto;
  animation-name: animatetop;
  animation-duration: .4s;
  text-align: center;
  display: block;
  border-radius: 20pt;
  box-shadow: 3px 3px;
}

.modal-content h1 {
  font-family: monospace;
  
}

.modal-content h2 {
  font-family: monospace;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

#timeBox {
  width: 200px;
  height: 200px;
  float: right;
}

.col-md-6 {
  font-size: 3rem;
}

.card {
  border-width: 0px;
  text-align: center;
}

.btn-info {
  margin-top: 10px;
}